#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f8f8f5;
  color: #333;
  font-family: "Garamond", serif;
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

.art-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.artwork {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.artwork img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.no-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 80%;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  color: #010101;
  font-size: 14px;
  border-radius: 8px;
  margin: 10px auto;
}

.collection-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
  border: solid;
  width: 600px;
  height: 700px;
  box-sizing: border-box;
  overflow: hidden;
}
.image-container {
  max-width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.collection {
  text-align: center;
  max-width: 100%;
  height: 100%;
}

.collection-info {
  text-align: center;
  font-size: 0.9rem;
  overflow: auto;
  height: 40%;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 100%;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0 auto;
}

.thumbnail {
  width: 50px;
  height: 70px;
  border: 2px solid transparent;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s, border-color 0.3s;
}

.thumbnail.active {
  border-color: #000;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #002147;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.nav-link {
  color: #f4f4f4;
  font-family: "Playfair Display", serif;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #daa520;
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
}

.radio-label {
  display: flex;
  align-items: center;
  font-family: "Garamond", serif;
  color: #333;
  cursor: pointer;
}

input[type="text"],
select {
  width: 300px;
  padding: 10px;
  border: 2px solid #aaa;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Garamond", serif;
  margin-right: 10px;
}

input[type="text"]:focus,
select:focus {
  border-color: #daa520;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #002147;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #daa520;
}
